/* font style */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/* Global Style */
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
.article {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-heading {
  margin-bottom: 80px;
}
.section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 50px;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  line-height: normal;
  border-radius: 8px;
  background: #e55473;
  border: none;
  font-weight: 700;
  padding: 20px 30px;
}
.header-text {
  color: #272727;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

/* banner section */
header {
  background: rgba(229, 84, 115, 0.1);
}
#banner-section {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  align-items: center;
  gap: 50px;
}

#banner-section > div {
  width: 50%;
}
.banner-info h1 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin: 0;
}

.banner-info p {
  color: rgba(39, 39, 39, 0.6);
  margin: 32px 0;
}
.banner-image {
  display: flex;
  justify-content: end;
}
.banner-image img {
  max-width: 500px;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Featured Banner section  */
#featured-banner {
  text-align: center;
}
#featured-banner h2 {
  margin-top: 30px;
}
#featured-banner p {
  max-width: 600px;
  margin: 24px auto 48px;
}
.banner-featured-flower {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 25px;
}
.banner-featured-flower > div {
  width: 30%;
}
.banner-featured-img {
  padding: 0 50px;
  height: 600px;
  display: flex;
  align-items: end;
  border-radius: 250px 250px 0 0;
}
.banner-featured-img img {
  max-height: 100%;
  width: 100%;
  display: inline-block;
}
.banner-featured .flower-1 {
  background: rgba(167, 33, 98, 0.15);
}
.banner-featured .flower-2 {
  background: rgba(5, 151, 160, 0.15);
}
.banner-featured .flower-3 {
  background: rgba(71, 125, 17, 0.15);
}
.banner-featured h3 {
  text-decoration: underline;
  font-size: 25px;
  font-weight: 700;
}
/* Featured Work Section */
#featured-work {
  background: rgba(39, 39, 39, 0.05);
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 80px 0px;
  margin-top: 50px;
  margin-bottom: 80px;
}
#featured-work .support {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#featured-work .support img {
  max-width: 80px;
  margin-bottom: 25px;
}

#featured-work .support span {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 700;
}
/* Hot Deal Style */
#hot-deal {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
}
#hot-deal > div {
  width: 50%;
}
.deal-info {
  text-align: center;
  max-width: 600px;
}
.hot-deal-img {
  display: flex;
  justify-content: end;
}
/* social media */
#banner-social {
  text-align: center;
}
#banner-social h2 {
  margin: 0;
}
#banner-social p {
  max-width: 600px;
  margin: 24px auto 50px;
}
.banner-social-image {
  display: flex;
  gap: 20px;
}

.banner-social-image img {
  width: 25%;
}
/* News section */
.banner-news-feed {
  background-image: url('asset/Rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  border-radius: 8px;
  padding: 100px;
  text-align: center;
  background-position: center;
}
.banner-news-feed p {
  margin: 16px 0 50px;
}
#banner-news form {
  display: flex;
  gap: 15px;
  justify-content: center;
}

#banner-news form input[type="email"] {
  width: 700px;
  padding: 17px;
  border: none;
  border-radius: 8px;
}
/* footer style */
footer{
  background: #111010;
  padding: 130px;
  text-align: center;
  margin-top: 80px
}

footer h2 {
  margin: 0;
  color: white;
  font-size: 48px;
}

footer p {
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin: 24px auto 32px;
  max-width: 600px;
}

footer > span {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

/* Customer Query form */
